h1 {
text-align: center;
}

.header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

a {
  color: blue;
}
a:visited {
  color: red;
}
a:hover {
  color: purple;
}
a:link {
  text-decoration: underline;
}

body {
  border: solid;
  padding: 5%;
  margin: 3%;
  background-color: silver;
}

p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

img {
 width: 150px;
 height: 90px;
 padding: 1%;
 float: left;
}
